.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .category-continer {
      min-width: 30%;
      height: 240px;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      margin: 0 7.5px 15px;
      overflow: hidden;
      &:hover{
        cursor: pointer;
      }
    }

    .categories-body-container {
        background-color: blue;
        padding: 20px;
    }
}